@use "sass:math";

@import "./Global-sass/function", "./Global-sass/colors";

#root{
    font-family: 'Ubuntu', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: rem(375);
}

.App{
    height: 80vh;
    position: relative;
}

.submit-container{
    width: 100%;
    background: $white;
    height: rem(72);
    padding: rem(16) rem(16) rem(16) 70%;
    position: absolute;
    top: 100%;
    &__btn{
        width: rem(97);
        height: rem(40);
        font-weight: 500;
        color: $white;
        border-radius: rem(4);
        background: $marine-blue;
        border: none;
    }
}
.header-container{
    width: 100%;
    background-image: url('../../public/assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: rem(172);
    position: relative;
    .pagination-bar{
        position: absolute;
        height: rem(33);
        width: rem(180);
        display: flex;
        align-items: center;
        top: 2rem;
        left: 50%;
        right: 50%;
        justify-content: space-around;
        transform: translate(-50%, 50%);
        span{
            border-radius: 50%;
            border: rem(1) solid $white;
            font-weight: 700;
            color: $white;
            height: rem(33);
            width: rem(33);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.personal-container{
    height: 100%;
    background-color: $alabaster;
    &__card{
        width: 90%;
        margin: 0 auto;
        position: absolute;
        height: rem(376);
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        border-radius: rem(10);
        top:rem(99);
        background-color: $white;
        filter: drop-shadow(0 rem(25) rem(40) hsla(0, 0%, 0%, 0.1));
        &__content{
            padding: rem(32) rem(24) rem(22);
            h1{
                font-weight: 700;
                font-size: rem(24);
                color: $marine-blue;
                margin-bottom: rem(9);
            }
            p{
                line-height: rem(25);
                font-weight: 400;
                color: $cool-grey;
            }
        }
        .info-container{
            padding: 0 rem(24) rem(32);
            display: flex;
            flex-direction: column;
            input{
                height: rem(40);
                border-radius: rem(4);
                border: rem(1) solid $cool-grey;
                padding-left: rem(16);
                margin-bottom: rem(16);
            }
        }
    }
}