@use "sass:math";

@import "./Global-sass/function", "./Global-sass/colors", "./Global-sass/placeholder";

#root{
    font-family: 'Ubuntu', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: rem(375);
}

h1{
    font-weight: 700;
    font-size: rem(24);
    color: $marine-blue;
    margin-bottom: rem(9);
}

h2{
    font-weight: 500;
    font-size: 1rem;
}

p{
    line-height: rem(25);
    font-weight: 400;
    color: $cool-grey;
}


.App{
    height: 80vh;
    position: relative;
}

.submit-container{
    width: 100%;
    background: $white;
    height: rem(72);
    padding: rem(16) rem(16) rem(16) 70%;
    position: absolute;
    top: 100%;
    &__btn{
        width: rem(97);
        height: rem(40);
        font-weight: 500;
        color: $white;
        border-radius: rem(4);
        background: $marine-blue;
        border: none;
    }
}
.header-container{
    width: 100%;
    background-image: url('../assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: rem(172);
    position: relative;
    .pagination-bar{
        position: absolute;
        height: rem(33);
        width: rem(180);
        display: flex;
        align-items: center;
        top: 2rem;
        left: 50%;
        right: 50%;
        justify-content: space-around;
        transform: translate(-50%, 50%);
        span{
            border-radius: 50%;
            border: rem(1) solid $white;
            font-weight: 700;
            color: $white;
            height: rem(33);
            width: rem(33);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.personal-container{
    height: 100%;
    background-color: $alabaster;
    &__card{
        @extend %cards;
        height: rem(376);
        &__content{
            padding: rem(32) rem(24) rem(22);
        }
        .info-container{
            padding: 0 rem(24) rem(32);
            display: flex;
            flex-direction: column;
            input{
                height: rem(40);
                border-radius: rem(4);
                border: rem(1) solid $cool-grey;
                padding-left: rem(16);
                margin-bottom: rem(16);
            }
        }
    }
}

.plan-container{
    @extend %cards;
    &__card{
        padding: rem(24);
        &__content{
            margin-bottom: rem(22);
            p{
                line-height: rem(25);
            }
        }
    }
    .subscription-container{
        display: flex;
        flex-direction: column;
        gap: rem(12);
        .plans{
            border: 1px solid $light-grey;
            border-radius: rem(8);
            height: 100%;
            display: flex;
            gap: rem(14);
            align-items: center;
            padding-left: rem(16);
            padding-top: rem(14);
            padding-bottom: rem(18);
            &__content{
                height: rem(68);
                width: rem(77);
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap:rem(7);
                line-height: rem(18);
                p{
                    font-size: rem(14);
                }
                .yearly-two{
                    color: $marine-blue;
                    font-size: rem(12);
                }
            }
        }
        .plans.selected{
            border: 1px solid $purplish-blue;
            background-color: $alabaster;
        }
    }

    .input-container{
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: rem(24);
        padding: rem(14) rem(56);
        background-color: $alabaster;
        border-radius: rem(8);
        input{
            position: relative;
            width: rem(38);
            height: rem(20);
            background-color: $marine-blue;
            border-radius: rem(10);
            appearance: none;
            transition: all 250ms ease-in;
            &::before, &::after{
                content: "";
                position: absolute;
                width: rem(12);
                height: rem(12);
                border-radius: 50%;
                background-color: $white;
                transform: translate(15%, 30%);
            }
            &::after{
                opacity: 0;
            }
            &[type="checkbox"]:checked{
                &::before{
                    opacity: 0;
                }
            }
            &[type="checkbox"]:checked{
                background-color: $purplish-blue;
             &::after{
                opacity: 100%;
                left: 57%;
            }
                
        }    
        }
    }
}

.add-container{
    @extend %cards;
    &__card{
        padding: rem(24);
        &__content{
            margin-bottom: rem(22);

        }
    }
}

